.homepage {
    text-align: center;
    position: relative; 
          
}

.favoritespage {
    text-align: center;
    position: relative; 
  
}

.learnMorePage {
    position: relative;
    
}
.content {
    background-color: rgba(229, 247, 210, 0.555);
    
}
.logo {
    margin-top: 8px;
    margin-bottom: 8px;
}
.title {
    color: black;
    font-size: larger;
    margin-top: 0px;
}

.parkTitle {
    text-align: center;
}